body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  color: #333;
  line-height: 1.6;
  overflow: hidden;
}
.modal-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 400px;
  height: 555px;
  border: 2px solid rgb(53, 53, 53);
  background: rgb(39, 39, 39);
  padding: 2rem;
  border-radius: 8px;
}


/* Прокручиваемая область внутри */
.win-mod {
  max-height: 300px; /* или 100% при полной высоте */
  overflow-y: auto;
  background-color: #1b1b1d;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch; /* ✅ для плавного скролла на iOS */
}

/* На телефонах — во весь экран */
@media (max-width: 768px) {
  .modal-content {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: none;
    border-radius: 0;
    border: none;
    touch-action: pan-y; /* разрешаем вертикальный скролл */
  }
}


.title-mod{
  text-align: center;
  margin-bottom: 20px;
}
.log-mod{
  height: 80px;
  width: 80px;
    margin-bottom: 10px;

}
/* Контейнер-обёртка с тенями */
.bubble-scroll-wrapper {
  position: relative;
  overflow-y: auto;
  padding-right: 6px;
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

/* Сами интересы */
.bubble-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Добавляем плавные тени сверху и снизу */
.bubble-scroll-wrapper::before,
.bubble-scroll-wrapper::after {
  content: "";
  position: sticky;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 5;
  pointer-events: none;
}

.bubble-scroll-wrapper::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0));
}

.bubble-scroll-wrapper::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0));
}



.win-mod::-webkit-scrollbar {
  width: 4px;
}

.win-mod::-webkit-scrollbar-track {
  background: transparent;
}

.win-mod::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.scroll-hint {
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
}


.bth-mod{
   background-color: rgb(237,93,25);
   padding: 2px;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 15px;
   color: white;
   font-weight: 400;
   border-radius: 20px;
   margin-top: 12px;
}

.bth-mod:disabled {
  background-color: #888; /* цвет неактивной кнопки */
  cursor: not-allowed;
  opacity: 0.6;
}
.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  /* занимает всю ширину окна браузера */
  height: 100vh; /* занимает всю высоту окна браузера */
  border: solid rgb(53, 53, 53) 2px;
  background: rgb(39, 39, 39);
  padding: 2rem;
  border-radius: 0; /* можно убрать скругление, если нужно "во весь экран" */
}


.win-mod-text{
   padding-left: 20px;
   font-size: 14px;
   color:rgb(207, 207, 207);
   padding-top: 10px;
   padding-right: 10px;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}
img[fetchpriority="high"] {
  content-visibility: auto;
  contain-intrinsic-size: 0 300px;
}
.image-placeholder {
  width: 100%;
  max-width: 600px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
[data-critical="true"] {
  content-visibility: auto;
  contain-intrinsic-size: 0 300px;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #6ebeff #6ebeff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #337AB7 #337AB7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #6ebeff #6ebeff transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}
    



.nav{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    z-index: 99;
    padding-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.nav-items a{
    text-decoration: none;
    padding: 8px;
    color: rgba(255, 255, 255, 0.241);
}

.nav-items a:hover{
    color: white;
}

.nav-itemsр{
    padding: 8px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.241);
    cursor: pointer;
}

.nav-itemsр:hover{
    color: white;
}

.subnav{
    height: 100vh;
    width: 100vw;
    display: none;
}


.nav2{
    color: white;
    background-color: #1d1d1f;
    height: 45px;
    margin: auto;
    width: 100vw;
    padding-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 5px;
}

.nav2 a{
    color: #2997ff;
    padding: 5px;
    text-decoration: none;
}




h1{
	color: rgb(255, 255, 255);
	margin: 20px auto 0;
	width: 200px;
	text-align: center;
}
#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}

#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#signin::before {
	display: block;
	position: relative;
	height: 2px;
	background: rgb(52, 56, 61);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(52, 56, 61);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(52, 56, 61);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}
/*
 AtomGlide Front-end Client
 Author: Dmitry Khorov
 GitHub: DKhorov
 Telegram: @dkdevelop @jpegweb
 2025 Project
*/
